*{
    font-family: "Roboto", "Open Sans", sans-serif;
    box-sizing: border-box;
    transition: 1s;
}


header{
    background-color: black;
    /* min-height: 12em; */
}


main{
    background-image: url("https://i.pinimg.com/originals/bd/01/fb/bd01fb54be923a87fda72f8482b60395.jpg");
    min-height: 26em;
}


footer{
    background-color: #1e202c;
    min-height: 12em;
}

#logo{
  position: absolute;
  top: 2em;
  left: 4em;
  /* overflow: auto; */
  border: none;

}
#logo img{
  width: 8em;
  height: 5em;
}

#input{
  margin: 0 17vw 21vh 22vw;
  padding-top: 15vh;
}

#but{
  border-radius: 3em;
  height: 4em;
  font-size: 1em;
  background-color: #1e202c;
  color: #009bdd;
  cursor: pointer;
  transition: 1s;
  opacity: 0.8;
  margin-left: -3.5em;
  padding: 1em;
}


#inp{
    width: 80%;
    max-width: 800px;
    height: 4em;
    border-radius: 4em;
    font-size: 1em;
    background-color: white;
    color: #009bdd;
    transition: 1s;
    opacity: 0.8;
}
#inp:hover{
  /* color: white; */
  font-size: 1.1em;
  opacity: 1;
}
#but:hover{
  color: white;
  font-size: 1.1em;
  opacity: 1;
}


#interbox{
    background-color: black;
    min-height: 12em;
    width: 80%;
    margin: auto;
}


#temp{
    background-color: #323545;
    min-height: 12em;
    width: 33%;
    display: inline-block;
    position: relative;
}
#temp:hover{
  
}


#loc{
    background-color: #262937;
    min-height: 12em;
    width: 32%;
    display: inline-block;
    position: relative;
}


#weather{
    background-color: #323545;
    min-height: 12em;
    width: 33%;
    display: inline-block;
    position: relative;
}


#res{
    position: absolute;
    font-size: 7em;
    top: 0.3em;
    left: 0.2em;
    color: white;
    margin: 0px;
}


#res1{
    display: inline-block;
    position: absolute;
    font-size: 4em;
    top: 0.8em;
    left: 0.4em;
    color: white;
    margin: 0px;
}


#res2{
    display: inline-block;
    position: absolute;
    font-size: 3em;
    top: 1.2em;
    left: 3.7em;
    color: white;
    margin: 0px;
    
}


#icon{
    display: block;
    width: 12em;
}


body{
    margin: 0;
}


.align{
    background-color: #1e202c;
    color: #009bdd;
    margin: 0;
    padding: 53px 0 53px 0;
    text-align: right;

}
.align li:hover{
  border: 2px solid;

}


.align li{
    display: inline-block;
    padding: 4px 13px 4px 13px;
    transition: 1s;
    cursor: pointer;
    border-radius: 100px;
    margin-right: 36px;
}



/* SPINNER */
.lds-roller {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }


  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
  }


  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    margin: -3px 0 0 -3px;
  }


  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }


  .lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
  }


  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }


  .lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
  }


  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }


  .lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
  }


  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }


  .lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
  }


  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }


  .lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
  }


  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }


  .lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
  }


  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }


  .lds-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
  }


  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }


  .lds-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
  }


  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }


    100% {
      transform: rotate(360deg);
    }


  }


  /*SPINNER ENDS  */

  #spinner{
      display: none;
      padding: 4em 0em 0em 10em;
  }


  #spinner1{
    display: none;
    padding: 4em 0em 0em 10em;
}


#spinner2{
    display: none;
    padding: 4em 0em 0em 10em;
}

#end{
    margin: 0;
    padding-top: 2em;
    color: white;
}


/* why is my page so moving */
/* want to add hover on temperature without disturbing the layout */

@media (max-width: 1100px){
  #loc{
    width: 100%;
  }
  #temp{
    width: 100%;
  }
  #weather{
    width: 100%;
  }
}
@media (max-width:725px){

  #logo img{
    display: none;
  }

}